<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">

  <!--

      Copyright (c) 2008-2010 Secure Endpoints Inc.

      Permission is hereby granted, free of charge, to any person
      obtaining a copy of this software and associated documentation
      files (the "Software"), to deal in the Software without
      restriction, including without limitation the rights to use,
      copy, modify, merge, publish, distribute, sublicense, and/or
      sell copies of the Software, and to permit persons to whom the
      Software is furnished to do so, subject to the following
      conditions:

      The above copyright notice and this permission notice shall be
      included in all copies or substantial portions of the Software.

      THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
      EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
      OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
      NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
      HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
      WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
      FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
      OTHER DEALINGS IN THE SOFTWARE.

    -->

  <!-- Platform constants -->

  <?if $(env.CPU)="i386" Or $(env.CPU)="x86" ?>
    <?define Platform=Intel ?>
  <?elseif $(env.CPU)="x64" Or $(env.CPU)="AMD64" ?>
    <?define Platform=x64 ?>
  <?else?>
    <?error Unknown value for CPU environment variable. ?>
  <?endif?>

  <?define UpgradeCode="4B316822-F6A0-4B69-A5AF-DC3BA4D15838" ?>

  <!-- Platform dependencies -->

  <?if $(var.Platform)="Intel" ?>

    <?define ProgramFilesFolder="ProgramFilesFolder" ?>
    <?define Win64="no" ?>

    <?define DllGuid="99ADD93D-DA26-4220-8BD4-E90350A1F4EC" ?>
    <?define EN_US_DLLGuid="8AC01EFD-45C8-4D35-BD81-CC9390DCB72E" ?>

  <?elseif $(var.Platform)="x64" ?>

    <?define ProgramFilesFolder="ProgramFiles64Folder" ?>
    <?define Win64="yes" ?>

    <?define DllGuid="B315857C-CA82-43D6-AE03-C8CFE178469C" ?>
    <?define EN_US_DLLGuid="DD7A9BDC-1E53-4782-88F0-29CD67D355E3" ?>

  <?else?>
    <?error Unknown value for Platform variable ?>
  <?endif?>

  <?define CodePage="1252" ?>


  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.ProgramFilesFolder)">
        <Directory Id="dirCompany" SourceName="."
                   Name="$(loc.CompanyDirShortName)"
                   LongName="$(loc.CompanyDirName)">
          <Directory Id="MODULEDIR"
                     Name="$(loc.ModuleDirShortName)"
                     LongName="$(loc.ModuleDirName)"
                     FileSource="$(var.DestDir)">

            <Component Win64="$(var.Win64)" Id="Cmp.$(var.DllBaseName).DLL"
                       Guid="$(var.DllGuid)" DiskId="1">
              <File Id="File.$(var.DllBaseName).DLL"
                    LongName="$(var.DllBaseName).dll"
                    Name="mymodule.dll"
                    KeyPath="yes" />

              <Registry Id="Reg.ModKey.Key"
                        Root="HKLM"
                        Key="SOFTWARE\MIT\NetIDMgr\PluginManager\Modules\$(var.ModuleName)"
                        Action="createKeyAndRemoveKeyOnUninstall" />
              <Registry Id="Reg.ModKey.ImagePath"
                        Root="HKLM"
                        Key="SOFTWARE\MIT\NetIDMgr\PluginManager\Modules\$(var.ModuleName)"
                        Action="write"
                        Name="ImagePath"
                        Type="string"
                        Value="[#File.$(var.DllBaseName).DLL]" />
              <Registry Id="Reg.ModKey.Description"
                        Root="HKLM"
                        Key="SOFTWARE\MIT\NetIDMgr\PluginManager\Modules\$(var.ModuleName)"
                        Action="write"
                        Name="Description"
                        Type="string"
                        Value="$(loc.ProductDescription)" />
              <Registry Id="Reg.ModKey.PluginList"
                        Root="HKLM"
                        Key="SOFTWARE\MIT\NetIDMgr\PluginManager\Modules\$(var.ModuleName)"
                        Action="write"
                        Name="PluginList"
                        Type="string"
                        Value="$(var.PluginList)" />
              <Registry Id="Reg.ModKey.Vendor"
                        Root="HKLM"
                        Key="SOFTWARE\MIT\NetIDMgr\PluginManager\Modules\$(var.ModuleName)"
                        Action="write"
                        Name="Vendor"
                        Type="string"
                        Value="$(loc.ProductManufacturer)" />
            </Component>

            <Component Win64="$(var.Win64)" Id="Cmp.$(var.DllBaseName)_en_us.DLL"
                       Guid="$(var.EN_US_DLLGuid)" DiskId="1">
              <File Id="File.$(var.DllBaseName)_en_us.DLL"
                    LongName="$(var.DllBaseName)_en_us.dll"
                    Name="mymdENUS.dll"
                    KeyPath="yes" />
            </Component>

            <!-- TODO: Add other component declarations here. -->

          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="Feature.KeyStore.Main"
             AllowAdvertise="no"
             ConfigurableDirectory="MODULEDIR"
             Title="$(loc.FeatureMainTitle)"
             Description="$(loc.FeatureMainDesc)"
             Display="expand"
             InstallDefault="local"
             TypicalDefault="install"
             Level="3">

      <ComponentRef Id="Cmp.$(var.DllBaseName).DLL" />
      <ComponentRef Id="Cmp.$(var.DllBaseName)_en_us.DLL" />

    </Feature>

    <Media Id="2" Cabinet="KeyStore1" CompressionLevel="high" EmbedCab="yes" />

  </Fragment>

</Wix>
