  body {
      font-family: arial,sans-serif;
      font-size: 10pt;
      font-style: normal;
      background-color: white;
      margin-top: 0pt;
      margin-left: 0pt;
      margin-right: 0pt;
  }

  h1 {
      border-bottom: 1px solid #ffb014;
      padding: 1em;
      font-size: 12pt;
      background-color: rgb(255, 240, 210);
      background-image:url('images/header-bkg.png');
      background-repeat:no-repeat;
      background-position:top right
  }

  h2 {  }

  h3 {
      margin-top: 4em;
      border-bottom: 1px solid #ffd37a;
      padding: 1em;
      font-size: 11pt;
  }

  h4 {
      margin-top: 4em;
      border-bottom: 1px dashed #ffb014;
      font-size: 10pt;
      font-style: italic;
      margin-left: 2em;
  }

  p {
      margin-left: 1em;
      margin-right: 1em;
  }

  p.caption {
      margin-left: 1em;
      margin-right: 1em;
      margin-top: 0;
      font-style: italic;
  }

  div.nim-header {
      text-align: center;
  }

  div.inline {
      float: left;
  }

  div.sidebar {
      border: 1px solid rgb(255, 210, 122);
      float: right;
      background-color: rgb(255, 246, 228);
  }

  div.imgbox {
      margin-left: 1em;
      margin-right: 1em;
  }

  div.note {
      border: 1px solid rgb(255, 210, 122);
      background-color: rgb(255, 246, 228);
      margin-left: 5em;
      margin-right: 5em;
  }

  div.note img {
      float: left;
      border: 0pt none;
      margin-top: 0.5em;
      margin-left: 0.5em;
  }

  div.note p {
      margin-left: 4em;
      margin-right: 1em;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
  }

  a.external {  }

  a.mail {  }

  img {
      border: 0pt none ;
  }

  span.pre {
      font-family: arial, sans-serif;
      font-weight: bold;
  }

  span.title {
      font-weight: bold;
  }

  span.alias {
      font-family: arial, sans-serif;
      font-weight: bold;
  }

  div.schema-space {
      border-left: 1px solid rgb(230, 206, 142);
      padding: 0pt;
      margin-left: 1em;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
  }

  div.schema-templ {
      border-left: 1px solid rgb(98, 161, 143);
      background-color: rgb(208, 242, 233);
  }

  div.schema-space-doc {
      margin: 1em 3em;
  }

  p.schema-space {
      border-top: 1px solid rgb(230, 206, 142);
      margin: 0pt;
      padding: 1em;
      font-weight: bold;
      font-size: 10pt;
      background-color: rgb(242, 233, 208);
  }

  p.schema-reg {
      margin: 0pt;
      padding-top: 0.4em;
      padding-bottom: 0.4em;
      background-color: rgb(247, 247, 247);
  }

  span.schema-label {
      display: block;
      float: left;
      margin-left: 2em;
      width: 10em;
  }

  span.schema-value {
      width: 100%;
      background-color: rgb(255, 255, 255);
      padding-top: 0.3em;
      padding-bottom: 0.3em;
  }

  div.schema-value {
      border: 1px solid rgb(153, 171, 94);
      background-color: rgb(234, 242, 208);
      margin-left: 1em;
      margin-right: 1em;
      margin-bottom: 1em;
  }

  p.schema-value-name {
      margin: 0.5em 1em;
      padding: 0.5em 1em;
  }

  span.schema-value-name {
      font-size: 10pt;
      font-weight: bold;
  }

  p.schema-value-type {  }

  p.schema-value-def {  }

  div.schema-value-doc {
      padding: 1em;
  }

  dl.options {
      margin-left: 2em;
      margin-right: 1em;
  }

  dl.options dt {
      font-family: arial, sans-serif;
      font-weight: bold;
  }

  dl.small dt {
      display: inline;
      float: left;
  }

  dl.options dd {
      margin-left: 4em;
      margin-bottom: 2em;
  }

  li {
      margin-top: 1em;
  }