<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <!--

      Copyright (c) 2009 Secure Endpoints Inc.

      Permission is hereby granted, free of charge, to any person
      obtaining a copy of this software and associated documentation
      files (the "Software"), to deal in the Software without
      restriction, including without limitation the rights to use,
      copy, modify, merge, publish, distribute, sublicense, and/or
      sell copies of the Software, and to permit persons to whom the
      Software is furnished to do so, subject to the following
      conditions:

      The above copyright notice and this permission notice shall be
      included in all copies or substantial portions of the Software.

      THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
      EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
      OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
      NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
      HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
      WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
      FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
      OTHER DEALINGS IN THE SOFTWARE.

    -->

  <!-- Platform constants -->

  <?if $(env.CPU)="i386" Or $(env.CPU)="x86" ?>
  <?define Platform=x86 ?>
  <?elseif $(env.CPU)="x64" Or $(env.CPU)="AMD64" ?>
  <?define Platform=x64 ?>
  <?else ?>
  <?error Unknown value for CPU environment variable. ?>
  <?endif ?>

  <!-- Platform dependencies -->

  <?if $(var.Platform)="x86" ?>

  <?define ProgramFilesFolder="ProgramFilesFolder" ?>
  <?define Win64="no" ?>

  <?define netidmgr_startup_guid="669227E3-0ADC-4173-90C3-631FCFC8EBC3" ?>
  <?define keystore_dll_guid="99ADD93D-DA26-4220-8BD4-E90350A1F4EC" ?>
  <?define keystore_en_us_dll_guid="8AC01EFD-45C8-4D35-BD81-CC9390DCB72E" ?>
  <?define keystore_pdb_guid="90335557-6406-48F8-9E62-DB65F80B693C" ?>

  <?elseif $(var.Platform)="x64" ?>

  <?define ProgramFilesFolder="ProgramFiles64Folder" ?>
  <?define Win64="yes" ?>

  <?define netidmgr_startup_guid="7081976D-E9D5-424a-9564-917E0529E4D0" ?>
  <?define keystore_dll_guid="B315857C-CA82-43D6-AE03-C8CFE178469C" ?>
  <?define keystore_en_us_dll_guid="DD7A9BDC-1E53-4782-88F0-29CD67D355E3" ?>
  <?define keystore_pdb_guid="CAEC1004-5563-4A55-8E3F-AF0B2E3BA9AB" ?>

  <?else ?>
  <?error Unknown value for Platform variable ?>
  <?endif ?>

  <?define UpgradeCode="342E07BD-8B38-4F2F-BED8-F26E027B25CE" ?>

  <?if $(var.ClVer)=vc9 ?>
  <?define InstallerVersion=300 ?>
  <?else ?>
  <?define InstallerVersion=200 ?>
  <?endif ?>

  <?define CodePage="1252" ?>

  <?define IncludeDebugSyms="yes" ?>

  <?if $(var.Platform)="x86" ?>
  <?ifndef NoW2k?>
  <?define IncludeW2k="yes" ?>
  <?endif ?>
  <?define IncludeKrb4="yes" ?>
  <?elseif $(var.Platform)="x64" ?>
  <!-- nothing -->
  <?endif ?>

  <?ifdef KeystoreBinDir?>
  <?define IncludeKeystore="yes" ?>
  <?endif ?>

  <!-- Sanity checks -->
  <?if $(var.Platform) != "x86"?>
  <?ifdef IncludeW2k?>
  <?error Can not include Windows 2000 components in a 64 bit installer ?>
  <?endif ?>
  <?ifdef IncludeKrb4?>
  <?error Kerberos 4 components are not supported in a 64 bit installer ?>
  <?endif ?>
  <?endif ?>

  <Product Id="*" Language="!(loc.LanguageId)" Manufacturer="!(loc.ProductManufacturer)" Name="!(loc.ProductName)" Codepage="$(var.CodePage)" UpgradeCode="$(var.UpgradeCode)" Version="$(var.ProductVersion)">
    <Package Compressed="yes" Description="!(loc.ProductDescription)" InstallerVersion="$(var.InstallerVersion)" InstallPrivileges="elevated" Languages="!(loc.LanguageId)" Manufacturer="!(loc.ProductManufacturer)" Platform="$(var.Platform)" SummaryCodepage="!(loc.CodePage)" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.ProgramFilesFolder)">
        <Directory Id="dirCompany" SourceName="." ShortName="MIT" Name="MIT">
          <Directory Id="dirAppClass" SourceName="." ShortName="Kerberos" Name="Kerberos">
            <Directory Id="APPDIR" ShortName="bin" Name="bin" FileSource="$(var.BinDir)">

              <?ifdef IncludeKeystore?>

              <!-- KeyStore -->
              <Component Win64="$(var.Win64)" Id="Cmp.keystore.DLL" Guid="$(var.keystore_dll_guid)" DiskId="1">
                <File Id="File.keystore.DLL" Name="keystore.dll" KeyPath="yes" Source="$(var.KeystoreBinDir)\" />

                <RegistryKey Root="HKLM" Key="SOFTWARE\MIT\NetIDMgr\PluginManager\Modules\KeyStore" Action="createAndRemoveOnUninstall" />
                <RegistryValue Root="HKLM" Key="SOFTWARE\MIT\NetIDMgr\PluginManager\Modules\KeyStore" Action="write" Name="ImagePath" Type="string" Value="[#File.keystore.DLL]" />
                <RegistryValue Root="HKLM" Key="SOFTWARE\MIT\NetIDMgr\PluginManager\Modules\KeyStore" Action="write" Name="Description" Type="string" Value="!(loc.ProductDescription)" />
                <RegistryValue Root="HKLM" Key="SOFTWARE\MIT\NetIDMgr\PluginManager\Modules\KeyStore" Action="write" Name="PluginList" Type="string" Value="KeyStoreCred,KeyStoreIdentity" />
                <RegistryValue Root="HKLM" Key="SOFTWARE\MIT\NetIDMgr\PluginManager\Modules\KeyStore" Action="write" Name="Vendor" Type="string" Value="!(loc.ProductManufacturer)" />
              </Component>

              <?ifdef IncludeDebugSyms?>
              <Component Id="Cmp.keystore.PDB" Guid="$(var.keystore_pdb_guid)" DiskId="1">
                <File Id="File.keystore.PDB" Name="keystore.pdb" KeyPath="yes" Source="$(var.KeystoreBinDir)\" />
              </Component>
              <?endif ?>

              <Component Win64="$(var.Win64)" Id="Cmp.keystore_en_us.DLL" Guid="$(var.keystore_en_us_dll_guid)" DiskId="1">
                <File Id="File.keystore_en_us.DLL" ShortName="kstrENUS.dll" Name="keystore_en_us.dll" KeyPath="yes" Source="$(var.KeystoreBinDir)\" />
              </Component>

              <?endif ?>

              <!-- Runtime -->

              <?ifdef env.CommonProgramFiles6432?>
              <?define CPF="$(env.CommonProgramFiles(x86)"?>
              <?else ?>
              <?define CPF="$(env.CommonProgramFiles)"?>
              <?endif ?>

              <?if $(var.ClVer)=vc7 ?>

              <?error Not supported?>

              <?elseif $(var.ClVer)=vc8 ?>

              <?ifdef Debug ?>

              <!-- VC++ 14.00 Debug -->
              <?if $(var.Platform) = "x64" ?>
              <Merge Id="VCRT" DiskId="1" Language="0" SourceFile="$(var.CPF)\Merge Modules\Microsoft_VC80_DebugCRT_x86_x64.msm" />
              <?elseif $(var.Platform) = "x86" ?>
              <Merge Id="VCRT" DiskId="1" Language="0" SourceFile="$(var.CPF)\Merge Modules\Microsoft_VC80_DebugCRT_x86.msm" />
              <?endif ?>

              <?else ?>
              <!-- !Debug -->

              <!-- VC++ 14.00 Retail -->
              <?if $(var.Platform) = "x64" ?>
              <Merge Id="VCRT" DiskId="1" Language="0" SourceFile="$(var.CPF)\Merge Modules\Microsoft_VC80_CRT_x86_x64.msm" />
              <?elseif $(var.Platform) = "x86" ?>
              <Merge Id="VCRT" DiskId="1" Language="0" SourceFile="$(var.CPF)\Merge Modules\Microsoft_VC80_CRT_x86.msm" />
              <?endif ?>

              <?endif ?>
              <!-- !Debug -->

              <?elseif $(var.ClVer)=vc9 ?>

              <?ifdef Debug ?>

              <!-- VC++ 15.00 Debug -->
              <?if $(var.Platform) = "x64" ?>
              <Merge Id="VCRT" DiskId="1" Language="0" SourceFile="$(var.CPF)\Merge Modules\Microsoft_VC90_DebugCRT_x86_x64.msm" />
              <?elseif $(var.Platform) = "x86" ?>
              <Merge Id="VCRT" DiskId="1" Language="0" SourceFile="$(var.CPF)\Merge Modules\Microsoft_VC90_DebugCRT_x86.msm" />
              <?endif ?>

              <?else ?>
              <!--!Debug -->

              <!-- VC++ 15.00 Retail -->
              <?if $(var.Platform) = "x64" ?>
              <Merge Id="VCRT" DiskId="1" Language="0" SourceFile="$(var.CPF)\Merge Modules\Microsoft_VC90_CRT_x86_x64.msm" />
              <?elseif $(var.Platform) = "x86" ?>
              <Merge Id="VCRT" DiskId="1" Language="0" SourceFile="$(var.CPF)\Merge Modules\Microsoft_VC90_CRT_x86.msm" />
              <?endif ?>

              <?endif ?>
              <!-- !Debug -->
              <?endif ?>
              <!-- ClVer -->

              <!-- /NetIDMgr -->

            </Directory>
          </Directory>
        </Directory>
      </Directory>

      <Directory Id="ProgramMenuFolder">
        <Directory Id="dirShortcut" ShortName="NetIDMgr" Name="Network Identity Manager" />
      </Directory>

      <Directory Id="StartupFolder">

        <!-- NETIDMGR Startup Shortcut -->

        <Component Win64="$(var.Win64)" Id="csc_NetIDMgrStartup" Guid="$(var.netidmgr_startup_guid)" DiskId="1">
          <RegistryValue Id="reg_sc_nidmgr_marker" Root="HKLM" Key="SOFTWARE\Secure Endpoints\NetIDMgr\$(var.ProductVersion)" Name="NetIDMgrAutoStart" Type="integer" Value="1" KeyPath="yes" />
          <Shortcut Id="sc_netidmgr_exe_startup" Advertise="no" Directory="StartupFolder" ShortName="netidmgr.lnk" Name="Network Identity Manager.lnk" Target="[APPDIR]netidmgr.exe" Show="minimized" />
        </Component>
      </Directory>
    </Directory>

    <Feature Id="Feature.Main" AllowAdvertise="no" ConfigurableDirectory="APPDIR" Title="!(loc.FeatureMainTitle)" Description="!(loc.FeatureMainDesc)" Display="expand" InstallDefault="local" TypicalDefault="install" Level="3">

      <Feature Id="Feature.Core" Display="hidden" InstallDefault="local" TypicalDefault="install" Level="3">

        <ComponentGroupRef Id="NetIdMgrCore" />

        <Feature Id="Feature.StartupShortcut" Display="hidden" InstallDefault="local" TypicalDefault="install" Level="3">
          <ComponentRef Id="csc_NetIDMgrStartup" />
        </Feature>
      </Feature>

      <?ifdef IncludeKrb4 ?>
      <Feature Id="Feature.Krb4" Display="expand" InstallDefault="local" TypicalDefault="install" Title="!(loc.FeatureKrb4Title)" Description="!(loc.FeatureKrb4Desc)" Level="3">
        <ComponentGroupRef Id="Krb4Cred" />
      </Feature>
      <?endif ?>

      <Feature Id="Feature.Krb5" Display="expand" InstallDefault="local" TypicalDefault="install" Title="!(loc.FeatureKrb5Title)" Description="!(loc.FeatureKrb5Desc)" Level="3">
        <ComponentGroupRef Id="Krb5Cred" />
      </Feature>

      <?ifdef IncludeKeystore?>
      <Feature Id="Feature.KeyStore" Display="expand" InstallDefault="local" TypicalDefault="install" Title="!(loc.FeatureKeystoreTitle)" Description="!(loc.FeatureKeystoreDesc)" Level="3">
        <ComponentRef Id="Cmp.keystore.DLL" />
        <ComponentRef Id="Cmp.keystore_en_us.DLL" />
      </Feature>
      <?endif ?>

      <MergeRef Id="VCRT" />

      <?ifdef IncludeDebugSyms ?>
      <Feature Id="Feature.Debug" Display="expand" InstallDefault="local" TypicalDefault="install" Title="!(loc.FeatureDebug)" Description="!(loc.FeatureDebugDesc)" Level="3">
        <ComponentGroupRef Id="NetIdMgrCoreDebug" />
        <ComponentGroupRef Id="Krb5CredDebug" />
        <?ifdef IncludeKrb4 ?>
        <ComponentGroupRef Id="Krb4CredDebug" />
        <?endif ?>
        <?ifdef IncludeKeystore ?>
        <ComponentRef Id="Cmp.keystore.PDB" />
        <?endif ?>
      </Feature>
      <?endif ?>

    </Feature>

    <Icon Id="NIMIcon" SourceFile="$(var.SrcDir)\ui\images\id.ico" />

        <!-- We are registering this product in HKLM. We are only
             installing this for all users. -->
    <Property Id="ALLUSERS">1</Property>
    <Property Id="ARPCOMMENTS">!(loc.ARPComments)</Property>
    <Property Id="ARPCONTACT">!(loc.ARPContact)</Property>
    <Property Id="ARPURLINFOABOUT">!(loc.ARPURLInfo)</Property>
    <Property Id="ARPHELPLINK">!(loc.ARPURLHelp)</Property>
    <Property Id="ARPPRODUCTICON">NIMIcon</Property>

    <Property Id="INSTALLLEVEL">3</Property>

        <!-- Kerberos for Windows is not required for installing or
             removing Network Identity Manager. Having that requirement
             prevents users from installing packages in an order that's
             convenient for them. -->

    <Condition Message="!(loc.AdminRequired)">Privileged</Condition>
    <Condition Message="!(loc.OsVersionRequired)">VersionNT &gt;=501</Condition>
    <?if $(var.Platform) = "x64" ?>
    <Condition Message="!(loc.Platform64Required)">VersionNT64</Condition>
    <?endif ?>

    <InstallExecuteSequence>
      <RemoveExistingProducts After="InstallValidate">(Not Installed) And UPGRADENIM</RemoveExistingProducts>
    </InstallExecuteSequence>

    <Upgrade Id="$(var.UpgradeCode)">
      <UpgradeVersion IgnoreRemoveFailure="no" IncludeMinimum="no" Maximum="$(var.ProductVersion)" IncludeMaximum="no" MigrateFeatures="yes" Property="UPGRADENIM" />
    </Upgrade>

    <!-- The Keystore MSI that nobody is supposed to have -->
    <Upgrade Id="4B316822-F6A0-4B69-A5AF-DC3BA4D15838">
      <UpgradeVersion IgnoreRemoveFailure="yes" Minimum="0.0.1.1" IncludeMinimum="yes" Property="UPGRADEKS" />
    </Upgrade>

    <Media Id="1" Cabinet="Disk1" CompressionLevel="high" EmbedCab="yes" />

    <UIRef Id="WixUI_Mondo" />

  </Product>
</Wix>
