<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <!--

      Copyright (c) 2009-2010 Secure Endpoints Inc.

      Permission is hereby granted, free of charge, to any person
      obtaining a copy of this software and associated documentation
      files (the "Software"), to deal in the Software without
      restriction, including without limitation the rights to use,
      copy, modify, merge, publish, distribute, sublicense, and/or
      sell copies of the Software, and to permit persons to whom the
      Software is furnished to do so, subject to the following
      conditions:

      The above copyright notice and this permission notice shall be
      included in all copies or substantial portions of the Software.

      THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
      EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
      OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
      NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
      HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
      WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
      FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
      OTHER DEALINGS IN THE SOFTWARE.

    -->

  <!-- Platform constants -->

  <?if $(env.CPU)="i386" Or $(env.CPU)="x86" ?>
  <?define Platform=x86 ?>
  <?elseif $(env.CPU)="x64" Or $(env.CPU)="AMD64" ?>
  <?define Platform=x64 ?>
  <?else ?>
  <?error Unknown value for CPU environment variable. ?>
  <?endif ?>

  <!-- Platform dependencies -->

  <?if $(var.Platform)="x86" ?>

  <?define ProgramFilesFolder="ProgramFilesFolder" ?>
  <?define Win64="no" ?>

  <?elseif $(var.Platform)="x64" ?>

  <?define ProgramFilesFolder="ProgramFiles64Folder" ?>
  <?define Win64="yes" ?>

  <?else ?>
  <?error Unknown value for Platform variable ?>
  <?endif ?>

  <?define UpgradeCode="342E07BD-8B38-4F2F-BED8-F26E027B25CE" ?>

  <?if $(var.ClVer)=vc10 Or $(var.ClVer)=vc9 Or $(var.ClVer)=vc8 ?>
  <?define InstallerVersion=300 ?>
  <?else ?>
  <?define InstallerVersion=200 ?>
  <?endif ?>

  <?define CodePage="1252" ?>

  <?define IncludeDebugSyms="yes" ?>

  <?if $(var.Platform)="x86" ?>
    <?ifndef NoW2k?>
      <?define IncludeW2k="yes" ?>
    <?endif ?>
    <?ifndef Heimdal?>
      <?define IncludeKrb4="yes" ?>
    <?endif?>
  <?elseif $(var.Platform)="x64" ?>
    <!-- nothing -->
  <?endif ?>

  <?ifdef Heimdal?>
    <?define IncludeHeimdal="yes"?>
  <?else?>
    <?define IncludeKrb5="yes"?>
  <?endif?>

  <!-- Sanity checks -->
  <?if $(var.Platform) != "x86"?>
    <?ifdef IncludeW2k?>
      <?error Can not include Windows 2000 components in a 64 bit installer ?>
    <?endif ?>
    <?ifdef IncludeKrb4?>
    <?error Kerberos 4 components are not supported in a 64 bit installer ?>
    <?endif ?>
  <?endif ?>

  <Product Name="!(loc.ProductName)"
	   Id="*"
	   Codepage="$(var.CodePage)"
	   Language="!(loc.LanguageId)"
	   Manufacturer="!(loc.ProductManufacturer)"
	   UpgradeCode="$(var.UpgradeCode)"
	   Version="$(var.ProductVersion)">
    <Package Id="*"
	AdminImage="no"
	Compressed="yes"
	Description="!(loc.ProductDescription)"
	InstallerVersion="$(var.InstallerVersion)"
	InstallScope="perMachine"
	Keywords="Installer,NetIDMgr,!(loc.ProductManufacturer)"
	InstallPrivileges="elevated"
	Languages="!(loc.LanguageId)"
	Manufacturer="!(loc.ProductManufacturer)"
	Platform="$(var.Platform)"
	ShortNames="no"
	SummaryCodepage="!(loc.CodePage)" />

    <!-- Directory structure -->

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.ProgramFilesFolder)">

        <?ifdef MITCompatibilityMode ?>
        <Directory Id="dirCompany" SourceName="." Name="MIT">
          <Directory Id="dirAppClass" SourceName="." Name="Kerberos">
            <Directory Id="APPDIR" Name="bin" FileSource="$(var.BinDir)">
            </Directory>
          </Directory>
        </Directory>

        <?ifdef IncludeKCACred?>
        <?error KCA Plugin can't be included in MIT compatibility mode?>
        <?endif?>

        <?else?>

        <Directory Id="dirCompany" Name="Secure Endpoints" SourceName=".">
          <Directory Id="APPDIR" Name="NetIDMgr" SourceName=".">
          </Directory>

          <?ifdef IncludeKCACred?>
          <Directory Id="KCAPLUGINDIR" Name="KCACred" SourceName=".">
          </Directory>
          <?endif?>

        </Directory>

        <?endif?>

      </Directory>

      <Directory Id="ProgramMenuFolder">
        <Directory Id="dirShortcut" ShortName="NetIDMgr" Name="Network Identity Manager" />
      </Directory>

      <Directory Id="StartupFolder">
      </Directory>

      <Directory Id="WindowsFolder">
      </Directory>
    </Directory>

    <!-- Runtime -->

    <DirectoryRef Id="APPDIR">
	
	  <?ifdef env.KH_RUNTIME_MSM?>
	  <Merge Id="VCRT" DiskId="1" Language="0" SourceFile="$(env.KH_RUNTIME_MSM)" />
	  <?else?>
	  <?error No runtime merge module ?>
	  <?endif?>

    </DirectoryRef> <!-- /Runtime -->

    <Feature Id="Feature.Main" AllowAdvertise="no" ConfigurableDirectory="APPDIR" Title="!(loc.FeatureMainTitle)" Description="!(loc.FeatureMainDesc)" Display="expand" InstallDefault="local" TypicalDefault="install" Level="3">

      <FeatureRef Id="Feature.Core" />

      <?ifdef IncludeKrb4 ?>
      <FeatureRef Id="Feature.Krb4" />
      <?endif ?>

      <?ifdef IncludeKrb5 ?>
      <FeatureRef Id="Feature.Krb5" />
      <?endif?>

      <?ifdef IncludeHeimdal ?>
      <FeatureRef Id="Feature.Heimdal" />
      <?endif?>

      <?ifdef IncludeKeystore?>
      <FeatureRef Id="Feature.KeyStore" />
      <?endif ?>

      <?ifdef IncludeKCACred?>
      <FeatureRef Id="Feature.KCACred" />
      <?endif ?>

      <?ifdef IncludeKfW?>
      <FeatureRef Id="Feature.MITKfW" />
      <?endif?>

      <MergeRef Id="VCRT" />

      <?ifdef Omaha?>
      <ComponentGroupRef Id="NetIdMgrOmaha" />
      <?endif?>

    </Feature>

    <Icon Id="NIMIcon" SourceFile="$(var.SrcDir)\ui\images\id.ico" />

        <!-- We are registering this product in HKLM. We are only
             installing this for all users. -->
    <Property Id="ARPCOMMENTS">!(loc.ARPComments)</Property>
    <Property Id="ARPCONTACT">!(loc.ARPContact)</Property>
    <Property Id="ARPURLINFOABOUT">!(loc.ARPURLInfo)</Property>
    <Property Id="ARPHELPLINK">!(loc.ARPURLHelp)</Property>
    <Property Id="ARPPRODUCTICON">NIMIcon</Property>

    <Property Id="INSTALLLEVEL">3</Property>

        <!-- Kerberos for Windows is not required for installing or
             removing Network Identity Manager. Having that requirement
             prevents users from installing packages in an order that's
             convenient for them. -->

    <Condition Message="!(loc.AdminRequired)">Privileged</Condition>
    <Condition Message="!(loc.OsVersionRequired)">VersionNT &gt;=501</Condition>
    <Condition Message="!(loc.AlreadyInstalled)">Installed Or Not EXISTINGNIM</Condition>
    <?if $(var.Platform) = "x64" ?>
    <Condition Message="!(loc.Platform64Required)">VersionNT64</Condition>
    <?endif ?>

    <InstallExecuteSequence>
      <RemoveExistingProducts After="InstallValidate">(Not Installed) And UPGRADENIM</RemoveExistingProducts>
    </InstallExecuteSequence>

    <Upgrade Id="$(var.UpgradeCode)">
      <UpgradeVersion IgnoreRemoveFailure="no" IncludeMinimum="no"
                      Maximum="$(var.ProductVersion)" IncludeMaximum="no"
                      MigrateFeatures="yes" Property="UPGRADENIM" />
      <UpgradeVersion OnlyDetect="yes" Minimum="$(var.ProductVersion)"
                      IncludeMinimum="yes" Maximum="127.127.32767.32767"
                      Property="EXISTINGNIM" />
    </Upgrade>

    <?ifdef IncludeKeystore ?>
    <!-- The Keystore MSI that nobody is supposed to have -->
    <Upgrade Id="4B316822-F6A0-4B69-A5AF-DC3BA4D15838">
      <UpgradeVersion IgnoreRemoveFailure="yes" Minimum="0.0.1.1" IncludeMinimum="yes" Property="UPGRADEKS" />
    </Upgrade>
    <?endif?>

    <Media Id="1" Cabinet="Disk1" CompressionLevel="high" EmbedCab="yes" />

    <UIRef Id="WixUI_Mondo" />

    <WixVariable Id="WixUILicenseRtf" Value="license.rtf" />

    <WixVariable Id="WixUIBannerBmp" Value="Bitmaps\bannrbmp.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="Bitmaps\dlgbmp.bmp" />
    <WixVariable Id="WixUIExclamationIco" Value="Bitmaps\exclamic.ico" />
    <WixVariable Id="WixUIInfoIco" Value="Bitmaps\info.ico" />
    <WixVariable Id="WixUINewIco" Value="Bitmaps\new.ico" />
    <WixVariable Id="WixUIUpIco" Value="Bitmaps\up.ico" />

  </Product>
</Wix>
